<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/9d9a3de7f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fas fa-home fa-primary fa-secondary" style="color: fa-primary"></i>
                    <span class="link-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="pollution" class="nav-link">
                    <i class="fas fa-biohazard fa-primary fa-secondary"></i>
                    <span class="link-text">Pollution</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="life" class="nav-link">
                    <i class="fas fa-heart fa-primary fa-secondary"></i>
                    <span class="link-text">Life</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="production" class="nav-link">
                    <i class="fas fa-tools fa-primary fa-secondary"></i>
                    <span class="link-text">Production</span>
                </a>
            </li>
        </ul>
    </nav>
</body>