<!DOCTYPE html>
<html>

<head>

    <script src="https://kit.fontawesome.com/9d9a3de7f3.js" crossorigin="anonymous"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .title {
            top: auto;
            justify-content: center;
            align-self: top;
            display: block;
            text-align: center;
            color: #b6b6b6;
            margin-left: 5vw;
            margin-right: 5vw;
        }
        
        body {
            min-height: 100vh;
            background: #23232e;
            overflow: hidden;
            align-items: center;
        }
        
        ul {
            display: flex;
            justify-content: center;
            position: relative;
            display: flex;
        }
        
        ul li {
            position: relative;
            list-style: none;
            margin: 0 20px;
            cursor: pointer;
        }
        
        umm {
            display: none;
        }
        
        ul li a {
            text-decoration: none;
        }
        
        ul li a .fa-custome {
            font-size: 10em;
        }
        
        ul li::before {
            font-family: fontAwesome;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 10em;
            height: 0;
            overflow: hidden;
            transition: 500ms ease-in-out;
            pointer-events: none;
        }
        /*Large Screen*/
        
        @media only screen and (min-width: 600px) {
            ul li:nth-child(1)::before {
                content: '\f780';
                color: #ff7eee;
                border-bottom: 4px solid #ff7eee;
            }
            ul li:nth-child(2)::before {
                content: '';
                color: #ff7eee;
                border-bottom: 4px solid #ff7eee;
            }
            ul li:nth-child(3)::before {
                content: '\f7d9';
                color: #ff7eee;
                border-bottom: 4px solid #ff7eee;
            }
            ul li:hover::before {
                height: 100%;
            }
        }
        /*Small Screen*/
        
        @media only screen and (max-width: 600px) {
            g {
                display: none;
            }
            umm {
                display: block;
            }
            .one::before {
                content: '\f015';
                color: #ff7eee;
                border-bottom: 4px solid #ff7eee;
            }
            .two::before {
                content: '\f780';
                color: #ff7eee;
                border-bottom: 4px solid #ff7eee;
            }
            .three::before {
                content: '';
                color: #ff7eee;
                border-bottom: 4px solid #ff7eee;
            }
            .four::before {
                content: '\f7d9';
                color: #ff7eee;
                border-bottom: 4px solid #ff7eee;
            }
            li:hover::before {
                height: 100%;
            }
        }
    </style>

    <title> Welcome </title>
</head>


<h1 class="title" style="font-size: 6em;">Welcome To Jacob and Antonio's BIP Project</h1><br>

<b class="title" style="font-size: 3em;"> In this project we discuse different problems that plaiged the industrial revolution and how it compares to living in 2020</b>
<br><br>
<p class="title" style="font-size: 1.5em; margin-left: 10vw; margin-right: 10vw;">The Industrial Revolution was a time period between 1760 and 1840. During this time period the use of machines were introduced to start manufacturing at speeds never seen before. Before machines all goods had to be made by hand which led to them being
    more expensive due to the time it took to make them. These machines led to the beginning of cities and also allowed people that were uneducated get good paying factory jobs. Although there were many advantages that came with the industrial revolution
    there were many problems that came along with it such as dangerous working conditions, pollution, and poor home life. The Industrial Revolution is a wicked problem in itself because it brought cheaper products and better paying jobs while also causing
    an increase to environmental damage and danger. Much like any other wicked problem it solved some of the problems we were facing while creating new problems in the process. </p>
<br>
<br>
<br>



<body>

    <g>
        <ul>

            <li>
                <a href="pollution">
                    <i class="fas fa-biohazard fa-primary fa-secondary fa-custome"></i>

                </a>
            </li>
            <li>
                <a href="life">
                    <i class="fas fa-heart fa-primary fa-secondary fa-custome"></i>

                </a>
            </li>
            <li>
                <a href="production">
                    <i class="fas fa-tools fa-primary fa-secondary fa-custome"></i>

                </a>
            </li>
        </ul>
    </g>
    <umm>
        <ul>
            <li class="two">
                <a href="pollution">
                    <i class="fas fa-biohazard fa-primary fa-secondary fa-custome"></i>

                </a>
            </li>
        </ul>
        <ul>
            <li class="three">
                <a href="life">
                    <i class="fas fa-heart fa-primary fa-secondary fa-custome"></i>

                </a>
            </li>
            <li class="four">
                <a href="production">
                    <i class="fas fa-tools fa-primary fa-secondary fa-custome"></i>

                </a>
            </li>
        </ul>
    </umm>
</body>

</html>