<%- include ('header.ejs')%>

    <head>
        <title>Life</title>
    </head>
    <main>
        <h1>Life</h1>

        <h1>This is a Test </h1>
        <p>With production on the rise people moved north to find work in factories. Factories are not as glamorous as people at the time would believe. Though factories were a good source of money the factories themselves came with a whole new set of problems.
            Factory workers often had to work 14 - 16 hours a day with only one day off, but long hours were not the only things that these workers had to deal with. Unfair pay and hazardous work places were some of the things that they had to deal with
            along with heavily biased pay as men got paid double the amount the women would get and children which in its own right isn't a good thing don't get paid nearly as much as women. Back to the hazards of factories, the safety of the workers
            were nonexistent which led to many work place injuries and death, which as sad as it is was a common occurrence. With odds of dying in a factory being 1 in 50, to put that in perspective you had better chances surviving World War II with a
            death rate of 1 in 58 </p>

    </main>
    <%- include ('footer.ejs')%>