<%- include ('header.ejs')%>

    <head>
        <title>Pollution</title>
    </head>

    <main>
        <div class="img-container">
            <img src="factory.jpg" alt="Pollution" style="display: flex; width: 100vw;">
            <h1 class="img-text">The Affectes of Pollution During The Industrial Revolution </h1>
        </div>
        <small>    Welgos/Getty Images from <a href="https://www.history.com/news/second-industrial-revolution-advances">History.com</a> </small>

        <p> While the invention of the steam engine helped with the productivity of factors and allowed unskilled laborers decent jobs in factories it also led to many different problems with the environment. The steam engine uses coal because it was a relatively
            cheap source of energy. When coal is burned it reacts with the oxygen in the air to form carbon dioxide. The carbon dioxide then goes up into the atmosphere and acts much like a blanket and traps heat from escaping off into space. It also
            is a major factor in creating smog and acid rain which are also devastating to the environment. In Pennsylvania the smog and soot got to the point where 20 people died from asphyxiation and more than 7,000 people got sick.
        </p>
        <br>
        <p>Burning fossil fuels was not the only source of pollution. In order to build factories they need to clear out trees, rocks, and sources of water to have room for these massive factories. This got rid of many animals' homes and caused them to have
            to find new areas to live or they just simply died. Another major problem was thermal pollution and noise pollution. The water that was heated up to make steam was then released into lakes and rivers which would heat up the overall temperature
            of the water. This would cause many fish and aquatic plants to die because of the large change in temperature. Noise pollution was a major problem during the Industrial Revolution. Workers were constantly working in loud factories and this
            led to many either completely losing hearing or having hearing issues. While the industrial revolution brought many good things it also brought with it many problems.
        </p>
        <br>
        <p>All of the pollutants we put in the water, air and soil all eventually come back to harm us in one way or another. Much like Carson says with the pesticides making their way from the fields and into food such as fish the same thing happened with
            all the pollution from the factories. The fish in the lakes and rivers were mostly contaminated with toxins due to the dumping of chemicals in them. Air we breathe is also contaminated with some dangerous chemicals and causes many people to
            become sick in less developed nations or places that are overcrowded. Many other similar problems happen today although we are working to make renewable energy more prominent. In today's world we have some strict policies to make sure we preserve
            the Earth but still people throw trash out the window without really thinking about how that will eventually come back to harm them.
        </p>
    </main>
    <%- include ('footer.ejs')%>