<%- include ('header.ejs')%>

    <head>
        <title>Polution</title>
    </head>

    <main>
        <h1>Polution</h1>

        <h1>The Affectes of Pollution During The Industrial Revolution </h1>
        <small>    Image Donated by Corbis - Bettmann to ExplorePAHistory </small>
        <img src="pollution title picture.jpg" alt="Pollution" style="justify-content: center;">
        <p>Hello World</p>
    </main>
    <%- include ('footer.ejs')%>