<%- include ('header.ejs')%>

    <head>
        <title class="sidenavtitle">Production</title>
    </head>
    <main>
        <h1>Production</h1>

        <h1 style="text-align: center;">Production Results From The Industrial Revolution</h1>
        <img src="car production.jpg" style="width: 1080px; ">
        <p>There was a massive increase in the number of factory jobs during the Industrial revolution, which many of them had to do with producing goods. With the use of machines, they no longer needed to have skilled artisans hand make every product. This
            gradually resulted in unskilled laborers helping in factories to mass produce goods and also made the price of goods drop. Another key invention during this time was Thomas Newcomen’s steam engine which boosted the production of products such
            as flour, paper, cotton mills, and distilleries. Some other inventions that made production faster include: flying shuttle, the water frame, and the power loom. While machines were very helpful to increasing production they also had some problems
            they brought along.
        </p>
        <br>
        <p>Interchangeable parts also played a massive role in increasing production. The use of interchangeable parts allowed them to make machines with the same parts and thus if they were to have a part break they could fix it without having to spend
            a lot of money or having to make a new part by hand. The use of steam engines allowed miners to go deeper and get more coal which was one of the biggest needs during this time. There were many inventions that all were used to increase production
            and helped more and more unskilled workers get decent paying jobs.
        </p>
        <br>
        <p>This relates very well with what Carr said in his piece. The inventions listed above all were very important to increasing production. Carr says that once an invention is introduced it can not be taken out without collapsing society. The steam
            engine is a great example of this because while we don’t really use them anymore we use more advanced versions of them. He says that we keep advancing the technology and make it more and more advantageous for us. The Industrial Revolution
            backs up what Carr says well and shows that us as humans want to keep making things easier. </p>
    </main>
    <%- include ('footer.ejs')%>